.profile {
  margin-left: 400px;
  margin-top: 100px;
}
.profile input {
  margin-right: 60px;
  margin-left: 20px;
  border-radius: 5px;
}
.cancelbutton {
  margin-right: 50px;
  border: 1px solid red;
  background-color: white;
  border-radius: 5px;
  color: red;
}
.profileupdate {
  border: 1px solid skyblue;
  background-color: skyblue;

  margin-top: 20px;
  border-radius: 5px;
}
label[forhtml="upload-photo"] {
  cursor: pointer;
}

#upload-photo {
  /* opacity: 0; */
  display: none;
  width: 100px;
}
input[id="name"] {
  width: 300px;
}
input[name="url"] {
  width: 190px;
}
.profileedit {
  background-color: green !important;
  border: 1px solid green !important;
  color: white !important;
  width: 60px;
  border-radius: 5px;
}
.profileupdatereadonly:hover {
  cursor: not-allowed !important;
}
